body{
    max-width: 1900px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}
legend{
    background-color: rgb(241, 201, 152);
    border-radius: 20px;
    font-weight: bold;
}
div{
    background-color: white;
    border-color: black;
    padding: 12px;
    width: 60%;
}
