body{
    background-color:thistle;
    text-align: center;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 400%;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
    border-radius: 10%;
    font-weight: bold;
}
button{
    background-color: darkorchid;
}